 
 :root{
    --color-primary: #0E3D67;
    --color-secondary: #3E4855;
    --color-muted: #B2B2B2;
 }

 .color-primary{
     color: var(--color-primary);
 }
 .color-secondary{
     color: var(--color-primary);
 }
 .color-muted{
     color: var(--color-muted);
 }